
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 20px;
}

body{
    background-size: cover;
    background-position: center;
}

canvas{
    box-shadow: 10px 10px 10px navy;
    border-radius: 10px;
}   